<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
    <div class="mainmenu">
        <ul>
            <li class="page_item page-item-95 page_item_has_children">
                <a href=
                "http://www.upbuildnyc.com/personal-development/">Personal<br>
                Development</a>

                <ul class="children">
                    <li class="page_item page-item-116">
                        <a href=
                        "http://www.upbuildnyc.com/personal-development/seasonal-film-series/">
                        Seasonal Film Series</a>
                    </li>

                    <li class="page_item page-item-112">
                        <a href=
                        "http://www.upbuildnyc.com/personal-development/ego-safaris/">
                        Ego Safaris</a>
                    </li>

                    <li class="page_item page-item-123">
                        <a href=
                        "http://www.upbuildnyc.com/personal-development/coaching/">
                        Coaching</a>
                    </li>

                    <li class="page_item page-item-1074">
                        <a href=
                        "http://www.upbuildnyc.com/personal-development/reset/">
                        Reset</a>
                    </li>

                    <li class="page_item page-item-125">
                        <a href=
                        "http://www.upbuildnyc.com/personal-development/book-club/">
                        Book Club</a>
                    </li>

                    <li class="page_item page-item-110">
                        <a href=
                        "http://www.upbuildnyc.com/personal-development/gita-sutras/">
                        Gita Sutras</a>
                    </li>

                    <li class="page_item page-item-114">
                        <a href=
                        "http://www.upbuildnyc.com/personal-development/gita-direct/">
                        Gita Direct</a>
                    </li>
                </ul>
            </li>

            <li class="page_item page-item-104 page_item_has_children">
                <a href=
                "http://www.upbuildnyc.com/organizational-development/">Organizational<br>

                Development</a>

                <ul class="children">
                    <li class="page_item page-item-276">
                        <a href=
                        "http://www.upbuildnyc.com/organizational-development/talks/">
                        Talks</a>
                    </li>

                    <li class="page_item page-item-278">
                        <a href=
                        "http://www.upbuildnyc.com/organizational-development/workshop/">
                        Workshops</a>
                    </li>

                    <li class="page_item page-item-280">
                        <a href=
                        "http://www.upbuildnyc.com/organizational-development/coaching/">
                        Coaching</a>
                    </li>

                    <li class="page_item page-item-525">
                        <a href=
                        "http://www.upbuildnyc.com/organizational-development/consulting/">
                        Consulting</a>
                    </li>
                </ul>
            </li>

            <li class="page_item page-item-106 page_item_has_children">
                <a href="http://www.upbuildnyc.com/about-us/">About Us</a>

                <ul class="children">
                    <li class="page_item page-item-176">
                        <a href=
                        "http://www.upbuildnyc.com/about-us/about-the-gita/">The
                        Gita</a>
                    </li>

                    <li class="page_item page-item-178">
                        <a href=
                        "http://www.upbuildnyc.com/about-us/a-world-without-masks/">
                        A World Without Masks</a>
                    </li>
                </ul>
            </li>

            <li class="page_item page-item-108">
                <a href="http://www.upbuildnyc.com/press/">Press</a>
            </li>

            <li class="page_item page-item-394">
                <a href="/">Blog</a>
            </li>

            <li class="page_item page-item-17">
                <a href="http://www.upbuildnyc.com/contact-us/">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
